.footer {
    display: block;
    flex-shrink: 0;
    bottom: 0;
    width: 99.3vw;
    right: 0;
    box-shadow: 1px -8px 10px -6px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px -8px 10px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px -8px 10px -6px rgba(0, 0, 0, 0.75);
}